.editor {
    display: flex;
    flex-direction: column;
    position: relative;

    .editor-controls {
        display: flex;
        justify-content: space-between;
        padding: .5rem 0;

        .key-bindings {
            display: flex;
            align-items: baseline;

            label {
                margin-right: 1rem;
                margin-bottom: 0;
                white-space: nowrap;
            }
        }

        .editor-buttons {
            button {
                width: 7em;

                &:not(:first-child) {
                    margin-left: 1rem;
                }
            }
        }
    }

    .code-editor {
        flex: 1;
        display: flex;
        flex-direction: column;
        border: 1px solid $gray-border-color;

        .monaco-editor-container {
            min-height: 400px;
            flex: 1;
        }

        #statusline {
            background-color: $gray-background-color;
            border-top: 1px solid $gray-border-color;
            padding: 0 .5em;
            margin-bottom: 0;
    
            &.hidden {
                display: none;
            }
        }
    }

    .editor-feedback {
        $header-height: 43px;
        $body-height: 200px;
        position: absolute;
        bottom: 0;
        max-height: $header-height + $body-height;
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        border: 1px solid $gray-border-color;
        font-size: small;

        &.minimised {
            height: $header-height;
        }

        .editor-feedback-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $gray-background-color;
            padding: .5rem;

            h4 {
                font-size: inherit;
                font-weight: 400;
                margin-bottom: 0;
            }
        }

        .editor-feedback-body {
            max-height: $body-height;
            overflow-y: auto;
        }

        .card {
            border: 0;
        }

        .card-header:first-child {
            border-radius: 0;
        }

        .raw-error,
        .compilation-error {
            .card-header {
                background: $red;
                color: $white;
                padding: .25rem;
            }

            .card-body {
                background: lighten($red, 50%);
            }
        }

        .card-body {
            flex: 1;
            overflow-y: auto;

            pre {
                margin: 0;
            }
        }
    }
}
