body {
    height: 100vh;
    min-width: 768px;
    display: flex;
    flex-direction: column;
}

.frame {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: $black;

    a {
        cursor: pointer;
    }

    button[disabled] {
        cursor: not-allowed;
    }

    .btn-green {
        @include button-variant($green, $green);
    }
      
    .btn-turquoise {
        @include button-variant($turquoise, $turquoise);
    }

    .header,
    .footer {
        background: $gray-background-color;

        .nav-link {
            color: inherit;
            text-decoration: underline;

            &:hover {
                color: $blue;
            }
        }
    }

    .header {
        .navbar-brand {
            display: flex;
            align-items: center;
            font-size: 1.4375rem;
            padding: 0;

            img {
                margin-right: 1rem;
            }
        }

        .navbar-nav {
            font-size: .875rem;
        }
    }

    .sub-header {
        // further styles in subheader.scss and gist.scss
        position: relative;
        border-bottom: 1px solid $gray-border-color;
        border-top: 1px solid $gray-border-color;
        padding: .25rem 1rem;
    }

    .main {
        // further general styles in body.scss
        // further specific styles in editor.scss, simulations.scss, and transactions.scss
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .footer {
        border-top: 1px solid $gray-border-color;
    }
}
