@import '../../web-common/static/variables.scss';
@import '../../web-common/static/common.scss';
@import '../../web-common/static/chain.scss';
@import '../../web-common/static/chartist.scss';

@import 'simulations.scss';
@import 'transactions.scss';
@import 'editor.scss';

.tab-help {
    font-style: italic;
}

.action,
.wallet,
.gist-controls {
    h1, h2, h3, h4 {
        color: $lightPurple;
    }

    input {
        color: rgba(255, 255, 255, 0.7);
        background: $input-bg;
        border: $input-border-color;
        outline:none;
        border-bottom:1px solid $purple05;
        padding: 0.375rem;
    }
}
