#simulation-nav {
    margin-bottom: 1.5rem;
    flex-wrap: wrap;

    button {
        border-radius: 3px;
        margin-bottom: 3px;
    }

    button.simulation-nav-item-name {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    button.simulation-nav-item-close {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    button.simulation-nav-item-close,
    button#simulation-nav-item-add {
        width: 32px;
    }

    button.simulation-nav-item-close {
        margin-right: 5px;
    }

    .simulation-nav-item .fa {
        font-size: 20px;
    }
}

.wallet {
    margin-bottom: 30px;

    .action-button {
        margin-top: 5px;
        margin-right: 5px;
    }
}

.wallet-id {
}

.add-wallet, .add-wait-action {
    text-align: center;
}

.actions {
    .action {
        text-align: left;
        margin-bottom: 30px;
        transition-property: opacity, border-color;
        transition-duration: 250ms;
        border: dashed 2px transparent;
        opacity: 1;

        label {
            margin-bottom: 0;
        }

        .nested {
            margin-left: 0.5rem;
        }

        hr {
            border-top-style: dashed;
            border-top-color: $gray-700;
        }
    }

    .action-invalid-wallet {
        border: solid 1px $red;
    }

    &.actions-being-dragged {
        .action {
            opacity: 0.5;
            border: dashed 2px $white;

            &.drag-source {
                opacity: 0;
            }
        }
    }

    .extent-field {
        button {
            width: 2rem;
        }
        input {
            text-align: center;
        }
    }
}
