.simulations {
    .nav-tabs {
        background: $gray-background-color;
        border-color: $blue;
        border-width: 2px;
    
        .nav-item {
            margin-bottom: -2px;
        }
    
        .nav-link {
            cursor: default;
            border-width: 2px;
            border-radius: 0;
            color: inherit;
    
            &:hover {
                border-color: transparent;
            }
    
            &.active {
                border-color: $blue;
                border-bottom-color: transparent;
                background: $gray-100;
            }
        }
    }

    //.simulation-nav-item-text {}

    .simulation-nav-item-control {
        display: inline-block;
        padding: 0 .5em;

        &:not(:first-child) {
            margin-left: .5em;
        }

        &:hover {
            background: $gray-accent-color;
        }
    }

    .simulation {
        background: $gray-100;
        padding: 1rem;

        .simulation-header {
            display: flex;
            justify-content: space-between;

            h1 {
                font-size: 1.25rem;
                margin-bottom: 0;
            }

        }

        .simulation-controls {
            display: flex;

            button {
                flex: 1;

                &:not(:first-child) {
                    margin-left: .5rem;
                }
            }
        }
    }

    .ajax-error {
        .alert {
            margin: 0;
        }
    }
}

.wallets,
.actions {
    margin-bottom: 1rem;
}

.actions-being-dragged {
    .action {
        opacity: 0.75;
    }
}


.wallet-list,
.action-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 309px); // 309px means 3 fit exactly on 1024px screen
    grid-gap: 1rem;
}

.wallet,
.action {
    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1.1em;
        margin-bottom: .75em;
    }

    .close-button {
        margin: -0.5rem -0.5rem 0 0;

        &:hover {
            background: $gray-accent-color;
        }
    }
}

.wallet {
    .available-actions > div {
        display: flex;
        flex-wrap: wrap;
        margin: -0.125rem;

        &:not(:first-child) {
            margin-top: .125rem;
        }

        .action-button {
            flex: 1;
            margin: .125rem;
            display: flex;
        }

        .action-button-text {
            flex: 1;
        }

        .action-button-icon {
            margin-left: .5rem;
        }
    }
}

.action {
    position: relative;

    .action-label {
        position: absolute;
        top: -0.75rem;
        left: 128px;
        width: 40px;
        text-align: center;
        background: $white;
        border-radius: 4px;
        border: 1px solid $gray-400;
    }

    .wait-type-options {
        border: 1px solid $gray-border-color;
        border-radius: $border-radius;
        padding: .4em;
        margin-bottom: .5rem;
    }
}

.add-wallet,
.add-wait-action {
    cursor: pointer;
    align-self: flex-start;
    text-align: center;
}    

.action-invalid-wallet {
    border: solid 1px $red;
}
