$white: #fff;
$black: #000;
$transparent-white: rgba(255, 255, 255, 0.65);
$gray-200: #ebebeb;
$gray-500: #adb5bd;
$gray-700: #444;
$gray-800: #232640;
$gray-900: #1e1f30;
$blue: #1746A0;
$fadedblue: #5777b6;
$purple05: rgba(131,45,196,0.5);
$red: #eb2256;
$yellow: #f0ad4e;
$green: #2cbb69;
$primary: $blue;
$success: $green;
$sub-header: $body-bg;
$info: $sub-header;
$warning: $yellow;
$danger: $red;
$dark: #121326;
$footer: $main-header;

$card-cap-bg:                       $gray-900;
$card-bg:                           $white;

// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'Montserrat','Helvetica Neue', Arial, sans-serif;
$font-family-base: $font-family-sans-serif !default;

$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$font-size-base: .8rem;
$font-size-lg: 1.5rem;
$font-size-sm: 0.75rem;
$font-size-xs: 0.75rem !default;

$font-weight-light:           200;
$font-weight-normal:          300;
$font-weight-bold:            400;

$line-height-base:            1.7;
$font-weight-base: 200;

$h1-font-size:                $font-size-base * 1.2;
$h2-font-size:                $font-size-base * 1.1;
$h3-font-size:                $font-size-base * 1;
$h4-font-size:                $font-size-base * 0.8;
$h5-font-size:                $font-size-base * 1;
$h6-font-size:                $font-size-base;

$headings-font-family:        inherit !default;
$headings-font-weight:        200;
$headings-line-height:        1.2 !default;
$headings-color:              #fff;

$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;

$body-color: $black !default;
$headings-font-weight: 400;
$table-accent-bg: $gray-800;
$table-border-color: $gray-700;
$table-dark-bg: $gray-500;
$table-dark-border-color: darken($gray-500, 7.5%);
$table-dark-color: $body-bg;
$input-bg : transparent;
$input-border-color: transparent;
$input-group-addon-color: $gray-500;
$input-group-addon-bg: $gray-700;
$dropdown-bg: $gray-900;
$dropdown-border-color: $gray-700;
$dropdown-divider-bg: $gray-700;
$dropdown-link-color: $white;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;
$nav-link-padding-x: 2rem;
$nav-link-disabled-color: $gray-200;
$nav-tabs-border-color: $gray-700;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;
$nav-tabs-link-active-color: $red;
$navbar-padding-y: 1rem;
$navbar-dark-color: $white;
$navbar-dark-hover-color: $success;
$navbar-light-color: rgba($white,.5);
$navbar-light-hover-color: $white;
$navbar-light-active-color: $red;
$navbar-light-disabled-color: rgba($white,.3);
$navbar-light-toggler-border-color: transparent;
$navbar-light-toggler-bg: $red;
$pagination-color: $white;
$pagination-bg: $success;
$pagination-border-width: 0;
$pagination-border-color: transparent;
$pagination-hover-color: $white;
$pagination-hover-bg: lighten($success, 10%);
$pagination-hover-border-color: transparent;
$pagination-active-bg: $pagination-hover-bg;
$pagination-active-border-color: transparent;
$pagination-disabled-color: $white;
$pagination-disabled-bg: darken($success, 15%);
$pagination-disabled-border-color: transparent;
$jumbotron-bg: transparent;
$card-cap-bg: $gray-800;
$card-bg: white;
$card-color: $gray-900;
$section-border: #D0D0D4;
$card-border-color: $section-border;
$popover-bg: $gray-800;
$popover-header-bg: $gray-700;
$modal-content-bg: $gray-800;
$modal-content-border-color: $gray-700;
$modal-header-border-color: $gray-700;
$progress-height: 0.625rem;
$progress-font-size: 0.625rem;
$progress-bg: $gray-700;
$list-group-bg: $gray-800;
$list-group-border-color: $gray-700;
$list-group-hover-bg: $gray-700;
$breadcrumb-bg: $gray-700;
$close-color: $white;
$close-text-shadow: none;
$pre-color: inherit;
$border-radius-sm: 1px;
$border-radius-lg: 3px;
$border-radius: 4px;

$input-btn-padding-x: 3rem;
