// color palette
$gray-text-color: #656464;
$gray-background-color: #e7e7e9;
$gray-lighter-background-color: #f7f9fc;
$gray-border-color: #d0cfcf;
$gray-accent-color: #9d9c9c;
$black: #333;
$blue: #1e73ad;
$turquoise: #1dabbc;
$red: #ae3125; // #bb2c2c // #de3241
$yellow: #f0ad4e;
$green: #2dbb69;

// customise bootstrap variables
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.8125rem;

// other site-wide styles
$box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .5);
