// color palette
$gray-text-color: #656464;
$gray-background-color: #e7e7e9;
$gray-border-color: #d0cfcf;
$gray-accent-color: #9d9c9c;
$blue: #1e73ad;
$red: #bb2c2c;
$yellow: #f0ad4e;
$green: #2dbb69;

// customise bootstrap variables
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.875rem;
