{
  "root": true,
  "global_settings": {
    "charset": "utf-8",
    "max_line_length": 10,
    "end_of_line": "lf",
    "trim_trailing_whitespace": true,
    "insert_final_newline": true
  },
  "overrides": [
    {
      "files": ["*.nix"],
      "settings": {
        "indent_size": 2
      }
    },
    {
      "files": ["*.hs"],
      "settings": {
        "max_line_length": 100
      }
    }
  ]
}
