# Latex
*.dvi
*.fls
*.ptb
*.aux
*.log
*.pdf
*.gz
*.synctex(busy)
*.bbl
*.fdb_latexmk
*.blg
auto

# Cabal
.ghc.environment*
tags
dist-newstyle
dist
cabal-dev
.cabal-sandbox/
cabal.sandbox.config
cabal.config
cabal.project.local

# Stack
.stack-work
stack.yaml.lock

# Haskell output files
*.o
*.hi
*.chi
*.chs.h
*.prof

# Agda
*.agdai

# Nix
result*
pkgs/.cabal
pkgs/.stack

# Editor files
*~
*#
.psc-ide-port

# Misc
.history/
.virtualenv
.vscode/
.hsenv
TAGS
.DS_Store
.uuid
.terraform
*.tfvars
gh-pages
.importify/
marlowe-playground-server/playground.yaml
.envrc
*.org
/plutus-scb.yaml
/scb-core.db*
hie.yaml