dbConfig:
    dbConfigFile: scb-core.db
    dbConfigPoolSize: 20

walletServerConfig:
  baseUrl: http://localhost:8081

nodeServerConfig:
  mscBaseUrl: http://localhost:8082
  mscSlotLength: 5
  mscRandomTxInterval: 20
  mscBlockReaper:
    brcInterval: 600
    brcBlocksToKeep: 100
