auth:
  # Your github OAuth App Credentials.
  github-client-id: ""
  github-client-secret: ""

  # You can generate a good signature by running `openssl rand -hex 40` and pasting the result here:
  jwt-signature: ""

  # This should match the client-facing schema/host/port.
  frontend-url: "https://localhost:8009"
  # This is the path the API will call once authenticated
  github-cb-path: "/#/gh-oauth-cb"
