/*
  The names for these utilities are inspired from tailwind's
  Display module, but the values are tailored with our needs
  https://tailwindcss.com/docs/display#class-reference
*/

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}
