/*
  This utilities were taken from tailwind's min-height module
  https://tailwindcss.com/docs/min-height
*/

.min-h-0 {
  min-height: 0px;
}

.min-h-full {
  min-height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

// .h-full is tailwind's name, .full-height is what we were using before
.full-height, .h-full {
  height: 100%;
}

/*
  This utilities were inspired from tailwind's max-height module
  https://tailwindcss.com/docs/max-height
*/

.max-h-70p {
  max-height: 70%;
}
