/*
  This utilities were taken from tailwind's overflow module
  https://tailwindcss.com/docs/overflow
*/

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll,
.scroll {
  overflow: scroll;
}

.overflow-x-scroll {
  overflow-x: scroll;
}
