/*
  These are utilities for aligning text
  It is taken from the properties specified in Tailwind's
  font text alignment module.
  https://tailwindcss.com/docs/text-align
*/
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
