/*
  This utilities were taken from tailwind's min-height module
  https://tailwindcss.com/docs/min-width
*/

.min-w-0 {
  min-width: 0px;
}

/*
  This utilities were taken from tailwind's min-height module
  https://tailwindcss.com/docs/width
*/

// w-full is Tailwinds way, full-width is what we had before
.full-width,
.w-full {
  width: 100%;
}

.w-30p {
  width: 30%;
}
