module Component.$name.View (render) where

import Prologue
import Component.$name.Types (Input)
import Halogen.Css (classNames)
import Halogen.HTML (HTML, text)

render :: forall w i. Input -> HTML w i
render input =
  text "hello, world"
