@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$body-bg: #121326;
$main-header: $body-bg;
@import 'variables.scss';

$badge: $gray-900;
$badge-background: $lightPurple;
$btn-group-separator: $gray-700;
$nav-link: $lightPurple;
$nav-link-active-border: solid 1px $nav-link;
$nav-link-hover: $white;
$nav-link-border-radius: 3px;
$clipboard-button-color: $white;

@import '../../web-common/static/common.scss';
@import '../../web-common/static/chain.scss';
@include chain (
    $balances-table-background-color: $gray-800,
    $balances-table-border-color: $gray-700,

    $entry-border-width: 2px,
    $entry-border-color: $gray-800,
    $entry-active-border-color: $gray-100,
    $entry-inner-border-color: $gray-700,
    $entry-separator-color: $transparent-white,
    $entry-footer-background-color: $gray-800,
    $entry-arrow-width: 15px,
    $entry-arrow-color: $gray-100,

    $entry-color: $dark,
    $entry-detail-color-fee: $pink,
    $entry-detail-color-not-found: $red,
    $entry-detail-color-forge: $cyan,
    $entry-detail-color-wallet: $green,
    $entry-detail-color-script: $yellow,
);

body {
    font-family: 'Open Sans', sans-serif;
    background: $body-bg;
}

p, a, button, i, em {
    color: rgba(255, 255, 255, 0.7);
}

b, strong {
    color: $gray-100;
}

.btn {
    border-radius: 1.5rem;

    &:focus,
    &:active {
        outline: none !important;
        box-shadow: none;
    }
}

.main-frame {
    .container {
        margin-top: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.main-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.contract-status {
    table {
        .iteration-id ,
        .request-id {
            width: 3rem;
        }
    }
}

.web-data-loading,
.stream-data-refreshing {
    .web-data-loading-content ,
    .stream-data-refreshing-content {
        opacity: 0.5;
    }

    & > .fa-spinner {
        $spinner-height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        height: $spinner-height;
        width: $spinner-height;
        margin-left: - ($spinner-height / 2);
        margin-top: - ($spinner-height / 2);
        font-size: $spinner-height;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        z-index: 10;
    }
}

.web-socket-status {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 3px;
    transition: opacity 500ms;

    &.web-socket-status-closed {
        background-color: $red;
        opacity: 1.0;
    }
    &.web-socket-status-open {
        background-color: $green;
        opacity: 0.0;
    }
}

.btn-group {
    .btn-info {
        border-left: solid 1px $btn-group-separator;
        &:first-child {
            border-left: none;
        }
    }
}
