:root {
  --animate-btn: translateY(1px);
  --box-shadow: 0 -3px 12px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-inverted: -3px 0 12px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-left: -6px 6px 6px 0px rgba(0, 0, 0, 0.1);
  --border-radius: 4px;
}

$breakpoint-tablet: 768px;
$breakpoint-mid: 1024px;
$breakpoint-wide: 1360px;