.right-arrow {
  background: rgb(0, 0, 0);
  height: 2px;
  width: 50px;
  margin: 0 auto;
  position: relative;
}

.right-arrow:before,
.right-arrow:after {
  content: "";
  background: rgb(0, 0, 0);
  position: absolute;
  height: 2px;
  width: 10px;
}

.right-arrow:before {
  right: -2px;
  bottom: -3px;
  transform: rotate(-45deg);
}

.right-arrow:after {
  right: -2px;
  top: -3px;
  transform: rotate(45deg);
}

.flip {
  transform: rotate(180deg);
}

.start-with-haskell,
.start-with-marlowe {
  display: flex;
  align-items: center;
}

.start-with-haskell {
  max-width: 500px;
}

.start-with-marlowe {
  max-width: 350px;
}

.start-with-haskell .haskell-icon {
  max-width: 100px;
}

.start-with-haskell .sim-icon {
  max-width: 100px;
}

.start-with-marlowe .sim-icon {
  max-width: 100px;
}

.marlowe-blockly-box {
  display: flex;
  align-items: center;
  border: 1px grey solid;
  padding: 0.5rem;
}

.marlowe-blockly-box .arrows {
  display: flex;
  height: 25px;
  flex-direction: column;
  place-content: space-between;
  margin: 0.5rem;
}

.marlowe-blockly-box .arrows .right-arrow {
  width: 40px;
}

.start-with-container {
  gap: 2rem;
}

.ready-to-go-buttons {
  display: flex;
  margin-bottom: 1rem;
}

.ready-to-go-buttons a {
  margin-right: 1rem;
  align-self: center;
  text-decoration: underline;
}

.no-show-home {
  display: flex;
  align-items: center;
}

.no-show-home input {
  margin-right: 0.5rem;
}

.marlowe-intro-container {
  display: flex;
  /* add gap and remove wrap if we want 3 columns */
  /* gap: 1rem; */
  flex-wrap: wrap;
}

@media (max-width:768px) {
  .marlowe-intro-container {
    flex-wrap: wrap;
  }

  .start-with-container {
    flex-wrap: wrap;
  }
}

.home-buttons {
  display: flex;
  justify-content: space-between;

  /* remove this to put dont show button on right */
  flex-flow: column;
}