img {
  display: inline-block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

 /* TODO: it is preferred to stye classes than actual html components. At the moment I add
 the btn class, but later on we should make sure all buttons have that class and remove this global
 style */
button, .btn {
  cursor: pointer;
  position: relative;
  background: var(--btn-primary-color);
  color: var(--white);
  padding: 0.5rem 1.5rem;
  border-radius: var(--border-radius);
  border: none;
  z-index: 1;
}

button:hover, .btn:hover {
  background: var(--btn-primary-color-hover);
}

button:active, .btn:active {
  background: var(--btn-primary-color-active);
}

button:disabled, .btn:disabled {
  background: var(--btn-primary-color-disabled);
  cursor: default;
}

.btn.success {
  background-color: var(--success-color);
}

.btn.error {
  background-color: var(--error-color);
}

button.small-btn {
  padding: 0rem;
  width: 32px;
  height: 30px;
}

.btn-secondary {
  border: 1px solid var(--btn-primary-color);
  color: var(--btn-primary-color);
  background: var(--btn-secondary-color);
  font-weight: bold;
}

.btn-secondary:hover {
  background: var(--btn-secondary-color-hover);
}

.btn-secondary:active {
  background: var(--btn-secondary-color-active);
}

