img {
  display: inline-block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  position: relative;
  background: var(--gradient-bg);
  color: var(--white);
  padding: 0.5rem 1.5rem;
  border-radius: var(--border-radius);
  border: none;
  z-index: 1;
}

button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--border-radius);
  background-image: var(--btn-hover-gradient-bg);
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

button:hover::before {
  opacity: 1;
}

button:active {
  transform: var(--animate-btn);
}

button.disabled {
  background: lightgray;
}

button.disabled::before {
  background: lightgray;
}

button.small-btn {
  padding: 0rem;
  width: 32px;
  height: 30px;
}

.btn-secondary {
  background: var(--accent-color);
}

.btn-secondary:hover {
  background: var(--accent-color-hover);
}

.btn-secondary:before {
  content: none;
}

.outline {
  outline: 1px solid lime;
}

.inline {
  display: inline;
}

.no-margins,
.no-margins * {
  margin: 0;
}

.no-padding,
.no-padding * {
  padding: 0;
}

.t-align-center {
  text-align: center;
}

.m-align-center {
  margin: 0 auto;
}

.a-horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.a-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex {
  display: flex;
}

.flex-ten {
  flex: 10;
  max-width: 100%;
}

.flex-four {
  flex: 4;
}

.flex-col {
  flex-direction: column;
}

.j-flex-start {
  justify-content: flex-start;
}

.j-flex-end {
  justify-content: flex-end;
}

.end-item {
  margin-left: auto;
}

.space-left {
  margin-left: 1rem;
}

.space-right {
  margin-right: 1rem;
}

.space-top {
  margin-top: 2rem;
}

.space-top-05 {
  margin-top: 0.5rem;
}

.text-secondary-color {
  color: var(--secondary-color);
}

.accent-border-bottom {
  border-bottom: 1px solid var(--layout-accent-color);
}

.hide {
  display: none;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.scroll {
  overflow: scroll;
}

.flip {
  transform: rotate(180deg);
}