header {
  padding: 1rem 2rem;
  background: var(--bg-dark);
  max-height: 80px;
}

.marlowe-logo {
  width: 60px;
  height: 42px;
}

.marlowe-logo svg {
  fill: url(#marlowe__linear-gradient) var(--primary-color);
}