html,
body,
.site-wrap {
  background: var(--bg-light);
}

main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  hr {
    margin: 0rem 1rem;
    border-top: 0px solid var(--bg-darker);
  }
}

main nav {
  flex: 1;
}

main section {
  flex: 15;
}

.sidebar-composer,
.code-editor {
  height: 90vh;
  overflow-x: scroll;
}

.footer {
  display: flex;
  height: 54px;
  justify-content: space-between;
  background-color: var(--bg-dark);
  align-items: center;

  .links {
    height: 1rem;
    align-items: center;

    a {
      padding: 0rem 1rem;
    }
  }
}