html,
body,
.site-wrap {
  background: var(--bg-dark);
  height: 100vh;
}

main {
  display: flex;
  overflow: hidden;
  height: calc(100vh - 80px);
}

main nav {
  flex: 1;
}

main section {
  flex: 15;
}

.sidebar-composer,
.code-editor {
  height: 90vh;
  overflow-x: scroll;
}