@import './normalize.scss';
@import './css_var_colors.scss';
@import './css_var_globals.scss';
@import './typo.scss';
@import './globals.scss';
@import './utilities.scss';
@import './layout.scss';
@import './header.scss';
@import './panels.scss';
@import './panel-mobile.scss';
@import './wallet.scss';
@import './main-tabs.scss';
@import './table.scss';
@import './animations.scss';
@import './github-input.scss';
@import './home.scss';
@import './projects.scss';
@import './new-project.scss';
@import './demos.scss';
@import './modal.scss';
@import './confirm_unsaved_navigation.scss';
@import './simulation.scss';
@import './save-as-modal.scss';

a:hover {
    cursor: pointer;
}

#editor-preferences {
    padding: 0.5rem;
}

.choice-a {
    display: flex;
    flex-wrap: wrap;
}

.choice-a>button {
    width: 30px;
}

.choice-a>.choice-input {
    width: auto;
}

.hide {
    display: none;
}

.auth-button-container {
    margin-top: 5px;
}

.auth-button-container div {
    margin-top: 5px;
}

.auth-button {
    padding: 0.4rem 1.5rem;
    cursor: pointer;
    top: 0.5rem;
    background: var(--gradient-bg);
    color: var(--white);
    border-radius: var(--border-radius);
    border: none;
    z-index: 1;
}

.auth-button:after {
    content: '';
    position: absolute;
    right: 0.5rem;
    background: url('../images/open-link-icon-white.svg') no-repeat center center;
    height: 18px;
    width: 18px;
    background-size: 42px;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: var(--bg-dark);
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    font-size: 1rem;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--bg-dark) transparent;
}

.upload-btn>.tooltiptext {
    left: 70%;
    top: 50px;
}

.upload-btn>.tooltiptext::after {
    left: 14%;
}

.download-btn>.tooltiptext {
    right: 0px;
    top: 112%;
}

.download-btn>.tooltiptext::after {
    left: 85%;
}

.choice-error {
    color: var(--error-color);
    width: 100%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-noshrink {
    flex-shrink: 0;
}

.break-word-span {
  word-wrap: break-word;
  min-width: 0;
  line-height: normal;
}

.monaco-editor-container {
    height: 100%;
}

.monaco-readonly-decoration {
    background-color: #fafafa;
}
