.projects-container {
}

.gists tr:nth-child(even) {
  background-color: #f1f1f1;
}

.gists tr:nth-child(odd) {
  background-color: white;
}

table.gists {
  border-collapse: collapse;
  width: 100%;
}

.gists th, td {
  border: 1px solid grey;
  padding: 0.1rem 0.5rem;
}

.language-links {
  justify-content: space-evenly;
  color: #3677f7;
  text-decoration: underline;
  text-align: center;
  a {
    flex: 1;
    // TODO: temporary fix to separate project types, need to redesign the whole modal
    margin-right: var(--small-margin);
  }
  .empty {
    flex: 1;
  }
}

td.date {
  text-align: center;
}
