.projects-container {
  width: 90%;
}

.projects-container h1 {
  margin: 1.5rem 0rem;
}

.projects-container hr {
  margin-bottom: 2rem;
}

.gists tr:nth-child(even) {
  background-color: #f1f1f1;
}

.gists tr:nth-child(odd) {
  background-color: white;
}

table.gists {
  border-collapse: collapse;
  width: 100%;
}

.gists th, td {
  border: 1px solid grey;
  padding: 0.1rem 0.5rem;
}

.language-links {
  justify-content: space-evenly;
  color: #3677f7;
  text-decoration: underline;
}

td.date {
  text-align: center;
}