.simulation-card-widget {
  background-color: var(--white);
  box-shadow: 0 3px 27px 0 rgba(0, 0, 0, 0.08);
}

.simulation-card-widget-header {
  padding: var(--small-margin);
  box-shadow: 0 4px 20px -10px rgba(0, 0, 0, 0.34);
}

.simulation-card-widget-body {
  padding: var(--small-margin);
}

