@import './utilities/font-size.scss';
@import './utilities/font-weight.scss';
@import './utilities/text-align.scss';
@import './utilities/border-color.scss';
@import './utilities/border-width.scss';
@import './utilities/flex.scss';
@import './utilities/grid.scss';
@import './utilities/background-color.scss';
@import './utilities/padding.scss';
@import './utilities/display.scss';
@import './utilities/text-color.scss';
@import './utilities/margin.scss';
@import './utilities/height.scss';
@import './utilities/width.scss';
@import './utilities/overflow.scss';
@import './utilities/whitespace.scss';

.outline {
  outline: 1px solid lime;
}

.inline {
  display: inline;
}

// TODO: instead of having a no-margins utitities that resets the current defaults we should
//       remove margin defaults in headers and other elements, and specify automatically.
//       As a rule of thumb, each component should now how to render "itself" and parent components
//       should know how to position it's children. So properties like margin should never be set globally.
.no-margins,
.no-margins * {
  margin: 0;
}

.t-align-center {
  text-align: center;
}

.m-align-center {
  margin: 0 auto;
}

.a-horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.a-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-col {
  flex-direction: column;
}

.j-flex-start {
  justify-content: flex-start;
}

.j-flex-end {
  justify-content: flex-end;
}

.end-item {
  margin-left: auto;
}



.text-secondary-color {
  color: var(--secondary-color);
}

.text-white {
  color: white;
}

.accent-border-bottom {
  border-bottom: 1px solid var(--layout-accent-color);
}

.accent-border-top {
  border-top: 1px solid var(--layout-accent-color);
}


.hide {
  display: none;
}

.flip {
  transform: rotate(180deg);
}

.pointer {
  cursor: pointer;
}

.border-separator * + * {
  border-left: 1px solid var(--layout-accent-color);
}

.box-shadow-inverted {
  box-shadow: var(--box-shadow-inverted);
}

