.outline {
  outline: 1px solid lime;
}

.inline {
  display: inline;
}

.no-margins,
.no-margins * {
  margin: 0;
}

.no-padding,
.no-padding * {
  padding: 0;
}

.t-align-center {
  text-align: center;
}

.m-align-center {
  margin: 0 auto;
}

.a-horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.a-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex {
  display: flex;
}

.flex-ten {
  flex: 10;
  max-width: 100%;
}

.flex-four {
  flex: 4;
}

.flex-col {
  flex-direction: column;
}

.j-flex-start {
  justify-content: flex-start;
}

.j-flex-end {
  justify-content: flex-end;
}

.end-item {
  margin-left: auto;
}

.space-left {
  margin-left: var(--medium-margin);
}

.space-right {
  margin-right: var(--medium-margin);
}

.space-top {
  margin-top: 2rem;
}

.space-top-05 {
  margin-top: 0.5rem;
}

.text-secondary-color {
  color: var(--secondary-color);
}

.accent-border-bottom {
  border-bottom: 1px solid var(--layout-accent-color);
}

.hide {
  display: none;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.scroll {
  overflow: scroll;
}

.flip {
  transform: rotate(180deg);
}

