.outline {
  outline: 1px solid lime;
}

.inline {
  display: inline;
}

/* TODO: instead of having a no-margins utitities that resets the current defaults we should
          remove margin defaults in headers and other elements, and specify automatically.
          As a rule of thumb, each component should now how to render "itself" and parent components
          should know how to position it's children. So properties like margin should never be set globally. */
.no-margins,
.no-margins * {
  margin: 0;
}

.no-padding,
.no-padding * {
  padding: 0;
}

.t-align-center {
  text-align: center;
}

.m-align-center {
  margin: 0 auto;
}

.a-horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.a-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* FIXME find and replace to h-full*/
.full-height {
  @apply h-full;
}

/* FIXME find and replace to w-full*/
.full-width {
  @apply w-full;
}

/* FIXME find and replace to overflow-scroll */
.scroll {
  overflow: scroll;
}

/* FIXME find and replace to justify-start */
.j-flex-start {
  justify-content: flex-start;
}

/* FIXME find and replace to justify-end */
.j-flex-end {
  justify-content: flex-end;
}

.end-item {
  margin-left: auto;
}

.text-secondary-color {
  color: var(--secondary-color);
}

.text-white {
  color: white;
}

.accent-border-bottom {
  border-bottom: 1px solid var(--layout-accent-color);
}

.accent-border-top {
  border-top: 1px solid var(--layout-accent-color);
}

.hide {
  display: none;
}

.flip {
  transform: rotate(180deg);
}

.pointer {
  cursor: pointer;
}

.border-separator * + * {
  border-left: 1px solid var(--layout-accent-color);
}

.box-shadow-inverted {
  box-shadow: var(--box-shadow-inverted);
}
