.wallet-contents {
  flex: 10;
  padding: 1rem;
  overflow: scroll;
}

.currency-row {
  display: flex;
  justify-content: space-between;
  /* width: 20rem; */
  height: 1.5rem;
  margin-top: 0.5rem;
}

.currency-row input {
  text-align: end;
  height: 24px;
  border: 1px solid var(--primary-color);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  border-radius: .2rem 0 0 0.2rem;
  margin-left: 0.5rem;
}

.currency-row button {
  padding: 0;
  margin-left: 0;
  width: 24px;
  height: 24px;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.add-wallet-button {
  padding: 0;
  margin-left: 4px;
  width: 22px;
  height: 22px;
}

.wallet-list {
  min-width: 1rem;
}

.clear-all-contracts {
  color: red;
  margin-left: 1rem;
  font-weight: normal;
}

.wallet-list {
  min-width: 1rem;
  padding: 0rem 1rem;
}

.wallet-list li {
  padding: 0rem 1rem;
}

.wallet-list li.active {
  color: var(--secondary-color);
}

.wallet-list li+li {
  border-left: 1px solid var(--layout-accent-color);
}

.wallet-top-section {
  display: flex;
}

.wallet-top-section .centre-element {
  padding: 0rem 1rem;
}

.wallet-contents hr {
  margin: 1rem 0rem;
}

select {
  display: block;
  padding: 0.3rem 0.5rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid var(--primary-color);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  border-radius: .3em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), */
  /* linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); */
  background-image: url(../images/select-button.svg);
  background-repeat: no-repeat, repeat;
  background-position: right -15px top 50%, 0 0;
  background-size: 55px auto, 100%;
}

select::-ms-expand {
  display: none;
}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

select option {
  font-weight: normal;
}

.roles p {
  width: 16rem;
}

.contract-list {
  min-width: 1rem;
  padding: 0rem 1rem;
}

.contract-list li {
  padding: 0rem 1rem;
}

.contract-list li.active {
  color: var(--secondary-color);
}

.contract-list li+li {
  border-left: 1px solid var(--layout-accent-color);
}

.load-contract-from-simulator-button {}

.contract-name-item {
  display: flex;
  align-items: center;
}

.contract-name-item img {
  width: 40px;
}

.wallet-composer {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 1rem;
}

.wallet-composer-state {
  flex: 6;
}

.wallet-composer-actions {
  flex: 4;
}

.apply-transaction-button {
  text-align: left;
  padding-left: 0;
}

.wallet-actions li+li.choice-row {
  padding-top: 0.5rem;
}