{
        "githubClientId": "someclientid",
        "githubClientSecret": "someclientsecret",
        "jwtSignature": "somesignature",
        "pagerdutyKey": "somekey",
        "googleClientID": "somekey",
        "googleClientSecret": "somekey"
}
