{
        "plutus": {
                "githubClientId": "someclientid",
                "githubClientSecret": "someclientsecret",
                "jwtSignature": "somesignature"
        },
        "marlowe": {
                "githubClientId": "someclientid",
                "githubClientSecret": "someclientsecret",
                "jwtSignature": "somesignature"
        },
        "pagerdutyKey": "somekey",
        "googleClientID": "somekey",
        "googleClientSecret": "somekey",
        "deploymentRef": "somekey",
        "githubToken": "somekey",
        "apiGatewayKey": "somekey"
}
