module Page.$name.Types.Internal where

import Page.$name.Types (Input, Msg)

import Halogen as H
import Halogen.HTML as HH

data Action
  = Init
  | Receive Input

type State
  = {
    }

type Slots
  = (
    )

type DSL
  = H.HalogenM State Action Slots Msg

type ComponentHTML m
  = H.ComponentHTML Action Slots m

