/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* cyrillic-ext */

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/DMSans-Regular.ttf");
}

/* cyrillic */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/DMSans-Regular.ttf");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/DMSans-Regular.ttf");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/DMSans-Regular.ttf");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/DMSans-Regular.ttf");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/DMSans-Regular.ttf");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/DMSans-Regular.ttf");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/DMSans-SemiBold.ttf");
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/DMSans-Bold.ttf");
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/DMSans-Light.ttf");
}

/* cyrillic-ext */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQtMRrTEUc.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQtM1rTEUc.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQtMVrTEUc.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQtMprTEUc.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQtMZrTEUc.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQtMdrTEUc.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQtMlrTA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* You can override the default Infima variables here. */
:root {
  --color-plutus-white: #ffffff;
  --color-plutus-black: #0f0f0f;
  --color-plutus-green: #c2f71c;
  --color-plutus-red: #f93a36;
  --color-plutus-orange: #ff7347;
  --color-plutus-yellow: #ffbe3c;

  --color-plutus-blue-bg: #eef9fd;
  --color-plutus-dark-red: #de5930;
  --color-plutus-blue-2: #4b6fd5;

  --color-white-smoke: #f3f3f3;
  --color-platinum: #d7d9d8;
  --color-grey: #808080;

  --color-plutus-grey-0: #fafafa;
  --color-plutus-grey-4: #f5f5f5;
  --color-plutus-grey-8: #efefef;
  --color-plutus-grey-12: #eaeaea;
  --color-plutus-grey: #e5e5e5;
  --color-plutus-grey-16: #acacac;
  --color-plutus-grey-20: #737373;
  --color-plutus-grey-24: #393939;
  --color-plutus-grey-28: #1c1c1c;

  --ifm-font-family-base: "DM Sans", sans-serif;
  --ifm-font-family-monospace: "Source Code Pro";

  --ifm-color-primary: var(--color-plutus-dark-red);
  --ifm-color-primary-dark: var(--color-plutus-dark-red);
  --ifm-color-primary-darker: var(--color-plutus-dark-red);
  --ifm-color-primary-darkest: var(--color-plutus-dark-red);

  --ifm-link-color: var(--color-plutus-dark-red);
  --ifm-link-hover-color: var(--color-plutus-blue-2);
  --ifm-link-hover-decoration: var(--color-plutus-blue-2);
  --ifm-menu-color-active: var(--color-grey);
  --ifm-navbar-link-hover-color: #61676f;
  --ifm-breadcrumb-color-active: var(--color-grey);

  --ifm-navbar-search-input-placeholder-color: var(--color-grey);

  --ifm-color-secondary: var(--color-grey);
  --ifm-color-secondary-light: var(--color-platinum);
  --ifm-color-secondary-dark: var(--color-grey);
  --ifm-color-secondary-lighter: var(--color-white-smoke);
  --ifm-color-secondary-darker: var(--color-grey);
  --ifm-color-secondary-lightest: var(--color-white-smoke);
  --ifm-color-secondary-darkest: var(--color-grey);

  --ifm-navbar-height: 70px;
}

:root:root {
  --aa-primary-color-rgb: 222, 89, 48;
}

html[data-theme="dark"] {
  --ifm-color-primary: var(--color-plutus-dark-red);
  --ifm-link-color: var(--color-plutus-dark-red);
  --ifm-link-hover-color: var(--color-plutus-dark-red);
  --ifm-link-hover-decoration: var(--color-plutus-dark-red);
  --ifm-menu-color-active: var(--color-plutus-dark-red);
  --ifm-navbar-link-hover-color: var(--color-plutus-dark-red);
  --ifm-breadcrumb-color-active: var(--color-plutus-dark-red);

  --ifm-navbar-search-input-placeholder-color: var(--color-plutus-grey-8);

  --ifm-heading-color: var(--color-plutus-grey-8);
  --ifm-pre-color: var(--color-plutus-grey-4);
  --ifm-pre-background: var(--color-plutus-grey-20);
  --ifm-code-background: var(--color-plutus-grey-20);
}

html[data-theme="dark"] body {
  --aa-primary-color-rgb: 222, 89, 48;
  --aa-muted-color-rgb: 222, 89, 48;
  --aa-background-color-rgb: 0, 0, 0;
}

.markdown a {
  font-weight: bold;
}

.markdown a:hover {
  text-decoration: underline;
}

/* Header */

.navbar__logo {
  height: 20px;
  max-width: 35vw;
}

@media (min-width: 997px) {
  .navbar__brand {
    margin-right: -0.25rem;
  }
  .navbar__logo {
    border-right: 1px solid #61676f;
    padding-right: 17px;
  }
}

.navbar__title {
  display: none;
}

/* Github link */

.github-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}

html[data-theme="dark"] .github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.footer .github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
  opacity: 0.75;
  height: 30px;
  width: 30px;
}

.header-github-link svg {
  display: none;
}

/* Mobile menu */

.navbar-sidebar--show div.menu__list-item {
  padding: 12px;
}

/* Cards */

.padding--lg {
  padding: 1rem !important;
}

.card h2 {
  margin-bottom: 0.25em;
}

/* Tables */

.csv-table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.75em;
}

.csv-table th {
  font-weight: bold;
}

.csv-table th,
.csv-table td {
  padding: 2px 5px;
}

.csv-table-overflow {
  overflow-x: auto;
  width: 100%;
  padding-right: 25px;
}

.csv-table-overflow-marker {
  position: relative;
}

.csv-table-overflow-marker::after {
  content: "";
  display: block;
  width: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
}

html[data-theme="dark"] .csv-table-overflow-marker::after {
  background: linear-gradient(
    to right,
    rgba(27, 27, 29, 0),
    rgba(27, 27, 29, 255)
  );
}

/* Footer */

.footer {
  background: #3b0005;
  color: var(--color-white-smoke);
  font-size: 0.875rem;
  font-weight: 500;
  padding: 32px 0;
  text-align: center;
}

.footer a {
  color: var(--color-white-smoke);
  font-size: 1rem;
}

.footer-container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.footer-logo {
  width: 60px;
  margin: 0 auto 12px;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}
.footer-right > * {
  margin-right: 2.5rem;
  &:last-child {
    margin-right: 0;
  }
}

.footer-left {
  display: flex;
  flex-direction: column;
}

@media (min-width: 997px) {
  .footer-logo {
    margin-bottom: 0;
  }

  .footer {
    padding: 46px 0;
  }

  .footer-left {
    flex-direction: row;
    align-items: center;
  }

  .footer-left > * {
    margin-right: 2.5rem;
    &:last-child {
      margin-right: 0;
    }
  }

  .footer-right {
    margin-top: 0;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
  }
}
