module Page.$name.Types where

import Prologue
import Halogen as H
import Halogen.HTML as HH

data Query a

type Input
  = {
    }

data Msg

type Slot
  = H.Slot Query Msg Unit

type Component m
  = H.Component HH.HTML Query Input Msg m
