@import url("https://fonts.googleapis.com/css?family=Barlow:400,600,700|Comfortaa:400,600,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-full text-black bg-lightgray;

  font-family: Barlow, sans-serif;
}

.new-tab a::after {
  content: url("/static/img/chevron-external-light.svg");
  width: 24px;
  background-size: 24px;
  position: absolute;
  bottom: 6px;
}

.text-link::before {
  content: url("/static/img/caret-right.svg");
  margin-right: 10px;
  width: 24px;
  background-size: 24px;
}

.menu-item a {
  border-bottom: 4px solid white;
  padding-bottom: 32px;
}

.menu-item a:hover {
  border-bottom: 4px solid #273245;
}

.section-circle-top-right {
  @apply w-80;

  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.section-circle-bottom-left {
  @apply w-80;

  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.section-m-top-right {
  position: absolute;
  width: 1440px;
  right: 0;
  top: 0;
  opacity: 0.8;
}

.pink-m-left,
.pink-m-right {
  position: absolute;
  z-index: 0;
  opacity: 0.8;
}

.pink-m-left {
  left: 0;
  top: 0;
}

.pink-m-right {
  right: 0;
  bottom: 0;
}

.scale img {
  transition: all 0.2s ease-in-out;
}

.scale img:hover {
  /* transform: rotate(90deg) !important; */
  backface-visibility: hidden;
  transform: scaleX(1.05) scaleY(1.05) !important;
}

#back-to-top {
  @apply bg-gradient-to-r from-purple to-lightpurple;
  @apply shadow-lg;

  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 35px;
  bottom: 20px;
  right: 20px;
  z-index: 20;
  transition: all 0.2s ease-in-out;
}

#back-to-top:hover {
  /* transform: rotate(90deg) !important; */

  backface-visibility: hidden;
  transform: scaleX(1.05) scaleY(1.05) !important;
}

.back-to-top-icon {
  width: 36px;
  position: absolute;
  left: 12px;
  top: 11px;
}

.hide {
  opacity: 0 !important;
}

.show {
  opacity: 1 !important;
}

/* Russ CSS */

.button-base {
  @apply rounded-full px-20 py-5;
  @apply hover:shadow-lg;
}

.primary-button-outline {
  @apply bg-gradient-to-r from-purple to-lightpurple text-white font-bold;
}

.primary-button {
  @apply button-base;
  @apply primary-button-outline;

  transition: all 0.2s ease-in-out;
}

.primary-button:hover {
  /* transform: rotate(90deg) !important; */

  backface-visibility: hidden;
  transform: scaleX(1.1) scaleY(1.1) !important;
}

.primary-button-icon::after {
  content: url("/static/img/caret-right.svg");
  position: relative;
  top: 4px;
  right: -5px;
}

.secondary-button-outline {
  @apply bg-transparent border-3 border-lightpurple text-lightpurple font-bold;
}

.secondary-button {
  @apply button-base;
  @apply secondary-button-outline;
}

.secondary-button-icon::after {
  content: url("/static/img/caret-right-purple.svg");
  position: relative;
  top: 4px;
  right: -5px;
}

/*
  Not all browsers support backdrop filter to make it transparent with a blur.
  For the browsers that don't support this we make a default
*/
.bg-blured {
  @apply bg-white;

  box-shadow: 0 2px 24px -1px rgba(0, 0, 0, 0.2);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .bg-blured {
    background-color: unset;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 0 2px 24px -1px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(
      144deg,
      rgba(255, 255, 255, 0.64) 17%,
      rgba(255, 255, 255, 0.1) 89%,
      rgba(255, 255, 255, 0.1) 89%
    );
  }
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

/* For the FAQ caret we use the background image property instead of an img tag because the expanded/collapsed
   state is only stored as a CSS class on the parent. */

.faq-answer {
  max-height: 0;
  opacity: 0;
  transition-property: max-height, opacity, padding;
  transition-duration: 200ms;
  transition-timing-function: ease-out;

  /* Because we use max-height for the collapse/expand animation and the element still occupies
  space (but with 0 opacity). Overflow hidden solves that */
  overflow: hidden;
}

.expanded .faq-answer {
  @apply pt-3;

  max-height: 2000px;
  opacity: 1;
}

.faq-caret {
  background-image: url("/static/img/caret-down-purple.svg");
  background-repeat: no-repeat;
  background-position: center 2px;
}

.expanded .faq-caret {
  background-image: url("/static/img/caret-up-purple.svg");
  background-position: center 10px;
}

.faq a {
  color: blue;
  text-decoration: underline;
}

/* Similary to the FAQ expanded class, we use a with-buttons class in the header to simplify the JS
   and HTML */
#header-try-buttons {
  opacity: 0;
}

.with-buttons #header-try-buttons {
  opacity: 1;
}

/* The maximum bold that comfortaa ships is still less bold than the one provided in the designs
   so we add the not official text-stroke-width for the browsers that support it to make it a
   little bit bolder. */

.font-comfortaa-bold {
  @apply font-comfortaa font-bold;

  -webkit-text-stroke-width: 1px;
}

@media (min-width: 768px) {
  .md\:font-comfortaa-bolder {
    @apply font-comfortaa-bolder;
  }
}

.font-comfortaa-bolder {
  @apply font-comfortaa font-bold;

  -webkit-text-stroke-width: 2px !important;
}

/* Tablet portrait */
@media (max-width: 1024px) {
  .vert-text-right {
    position: initial;
    display: block;
    transform: initial;
  }

  .vert-text-left {
    position: initial;
    display: block;
    transform: initial;
  }
}
