@import url("https://fonts.googleapis.com/css?family=Barlow:400,600,700|Comfortaa:400,600,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-full text-black bg-lightgray;

  font-family: Barlow, sans-serif;
}

.primary-button {
  @apply bg-gradient-to-r from-purple to-lightpurple text-white font-bold;
  @apply rounded-full px-5 py-2;
  @apply hover:shadow;
}

.primary-button::after {
  content: url("/static/img/caret-right.svg");
  position: relative;
  top: 4px;
  right: -5px;
}

.secondary-button {
  @apply bg-transparent border-3 border-lightpurple text-lightpurple font-bold;
  @apply rounded-full px-5 py-2;
  @apply hover:shadow;
}

.secondary-button::after {
  content: url("/static/img/caret-right-purple.svg");
  position: relative;
  top: 4px;
  right: -5px;
}

.bg-blured {
  background-image: linear-gradient(
    144deg,
    rgba(240, 240, 240, 0.85) 17%,
    rgba(240, 240, 240, 0.7) 89%,
    rgba(240, 240, 240, 0.7) 89%
  );
  box-shadow: 0 2px 24px -1px rgba(0, 0, 0, 0.2);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .bg-blured {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 0 2px 24px -1px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(
      144deg,
      rgba(255, 255, 255, 0.64) 17%,
      rgba(255, 255, 255, 0.1) 89%,
      rgba(255, 255, 255, 0.1) 89%
    );
  }
}

/* For the FAQ caret we use the background image property instead of an img tag because the expanded/collapsed
   state is only stored as a CSS class on the parent. */

.faq-answer {
  max-height: 0;
  opacity: 0;
  transition-property: max-height, opacity, padding;
  transition-duration: 200ms;
  transition-timing-function: ease-out;

  /* Because we use max-height for the collapse/expand animation and the element still occupies
  space (but with 0 opacity). Overflow hidden solves that */
  overflow: hidden;
}

.expanded .faq-answer {
  @apply pt-3;

  max-height: 2000px;
  opacity: 1;
}

.faq-caret {
  background-image: url("/static/img/caret-down-purple.svg");
  background-repeat: no-repeat;
  background-position: center 5px;
}

.expanded .faq-caret {
  background-image: url("/static/img/caret-up-purple.svg");
  background-position: center 10px;
}
