<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Marlowe: Financial smart contracts made easy</title>
    <meta name="description" content="Marlowe reimagines how to create, test and run financial agreements. Peer-to-peer, secure and scalable. Marlowe makes finance accessible to all.">
    <meta property="og:title" content="Marlowe: Financial Smart Contracts">
    <meta property="og:description" content="Democratizing Finance on Cardano">
    {# FIXME add a social image #}
    {# <meta property="og:image" content="http://something.jpg"> #}
    <meta property="og:url" content="https://marlowe-finance.io">
    <meta name="twitter:card" content="summary_large_image">
  </head>

  <body>
    <header class=" fixed top-0 left-0 right-0 z-10 transition-colors duration-300 ease-out">
      <div class="m-6 md:mx-5vw xl:mx-10vw widest:mx-auto max-w-screen flex items-center ">
        <img loading="lazy" class="h-10 hidden md:block" src="{% static './static/img/marlowe-prototype-logo.svg' %}" alt="Marlowe prototype logo">
        <img loading="lazy" class="h-10 block md:hidden" src="{% static './static/img/marlowe-logo.svg' %}" alt="Marlowe prototype logo">
        <div id="header-try-buttons" class="transition-opacity duration-300 ease-out text-sm flex-grow flex justify-end mr-2 sm:mr-4 md:mr-5 lg:mr-7">
          <div class="hidden md:block">
            <a href="https://run.marlowe-finance.io" target="_blank" class="primary-button flex-shrink-0 mr-2 sm:mr-4 md:mr-5 lg:mr-7">Try Marlowe Run</a>
            <a href="https://play.marlowe-finance.io" target="_blank" class="secondary-button flex-shrink-0">Try Marlowe Play</a>
          </div>

          <div class="md:hidden">
            <a href="https://run.marlowe-finance.io" target="_blank" class="button-base primary-button-outline flex-shrink-0 mr-2 sm:mr-4 md:mr-5 lg:mr-7">Try Run</a>
            <a href="https://play.marlowe-finance.io" target="_blank" class="button-base secondary-button-outline flex-shrink-0">Try Play</a>
          </div>

        </div>
        <a class="text-lightpurple font-bold text-sm" href="">Docs</a>
      </div>

    </header>
    <section class="sm:bg-main bg-no-repeat bg-cover bg-center sm:h-main w-full overflow-hidden">
      <div class="relative mx-6 md:ml-5vw xl:ml-10vw sm:w-full max-w-screen widest:mx-auto">
        <div class="sm:absolute sm:w-min inset-0 ">
          <h1 class="text-3xl md:text-4xl lg:text-5xl flex flex-col font-comfortaa-bolder leading-tight pt-28 lg:pt-40 pb-4">
            <span class="min-w-max">Financial</span>
            <span class="min-w-max">Smart Contracts,</span>
            <span>reimagined.</span>
          </h1>
          <h2 class="text-xl lg:text-2xl xl:text-27px pb-8">Marlowe puts the power of financial agreements into the hands of millions.</h2>
          <div id="main-try-buttons" class="flex mb-10 text-sm">
            <a href="https://run.marlowe-finance.io" target="_blank" class="primary-button flex-shrink-0 mr-2 sm:mr-4 md:mr-5 lg:mr-7">Marlowe Run</a>
            <a href="https://play.marlowe-finance.io" target="_blank" class="secondary-button flex-shrink-0">Marlowe Playground</a>
          </div>

        </div>
      </div>

    </section>
    <img loading="lazy" class="w-full sm:hidden" src="{% static './static/img/woman-using-cellphone-small.jpg' %}" alt="Marlowe Prototype">

    <section class="bg-green pb-14">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 md:gap-x-5vw xl:gap-x-10vw mx-6 md:mx-5vw xl:mx-10vw widest:mx-auto max-w-screen">
        <div class="relative -top-12 rounded-lg px-4 py-6 bg-blured">
          <h4 class="text-xl font-semibold text-lightpurple">Marlowe Run</h4>
          <h3 class="text-2xl font-comfortaa-bold my-4">Run and manage peer-to-peer financial agreements.</h3>
          <p class="text-lg my-4">Choose from our off-the-shelf template contracts to set up peer-to-peer loans, escrows and swaps. We've automated contract management so you can relax.
          </p>
          <a href="https://run.marlowe-finance.io" target="_blank" class="primary-button flex-shrink-0 my-4">Try it!</a>

        </div>
        <div class="md:flex gap-4">
          <div class="py-6">
            <h4 class="font-bold">Lower Costs</h4>
            <p>No more third-party fees. No more developer fees. We do it all.</p>

          </div>
          <div class="py-6">
            <h4 class="font-bold">Fast and Safe</h4>
            <p>Tested, secured and good to go.</p>
          </div>
        </div>
        <div class="">
          <p class="text-xl font-comfortaa font-bold py-8">Marlowe Run is a prototype running on a simulated blockchain. We invite users to test out its functionality and features and give us feedback to make sure we get it right!
          </p>
        </div>
        <div class="rounded-lg bg-lightgray p-4">
          <h4 class="text-lightpurple text-xl font-semibold mb-3">Already tried Marlowe Run?</h4>
          <p class="text-lg ">Tell us what you think, we need your feedback to turn great into exceptional.</p>
          <div class="flex items-end justify-end">
            <img class="relative top-2" src="{% static './static/img/top-down-arrow.svg' %}" alt="Arrow">
            <button class="text-sm flex-shrink-0 primary-button">Submit feedback</button>
          </div>
        </div>
        <div class="md:row-start-1 md:row-end-5 relative justify-self-end md:-top-20 mt-16 md:mt-0 pr-10">
          <div class="bg-white rounded px-2 pb-3 shadow-lg w-min">
            <div class="ml-3 py-3 flex">
              <div class="bg-mac-red w-3 h-3 rounded-full mr-2"></div>
              <div class="bg-mac-yellow w-3 h-3 rounded-full mr-2"></div>
              <div class="bg-mac-green w-3 h-3 rounded-full"></div>
            </div>
            <div class="rounded-t overflow-hidden w-max">
              <img loading="lazy" src="{% static './static/img/marlowe-run-desktop.png' %}" alt="Marlowe run desktop screenshot">
            </div>
          </div>
          <div class="absolute top-16 right-0 shadow-lg rounded">
            <div class="bg-white rounded p-2 pt-3">
              <div class="rounded overflow-hidden">
                <img loading="lazy" src="{% static './static/img/marlowe-run-mobile.jpg' %}" alt="Marlowe run mobile screenshot">
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <section class="w-full overflow-hidden">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 md:gap-x-5vw xl:gap-x-10vw mx-6 md:mx-5vw xl:mx-10vw widest:mx-auto max-w-screen">
        <div>
          <h4 class="text-lightpurple text-xl font-semibold mt-20 mb-8">Marlowe Playground</h4>
          <h3 class="text-2xl font-comfortaa-bold leading-tight mb-8">Build, verify, simulate.</h3>
          <p class="text-lg mb-8">There's a variety of ways to create financial smart contracts including JavaScript. Send contracts through simulations and analyses provided to ensure your contract is behaving as you want.</p>
          <a href="" target="_blank" class="primary-button mb-6">Tutorial</a>
        </div>
        <div class=" md:flex gap-4">
          <div class="py-6">
            <h4 class="font-bold">Easy onboarding</h4>
            <p>It's web-based. Get started quickly and easily, no need to download anything or set up an extensive development environment.</p>

          </div>
          <div class="py-6">
            <h4 class="font-bold">Use Javascript or Haskell</h4>
            <p>Develop Marlowe contracts in either language using our editors, then the Playground converts them to Marlowe.</p>
          </div>
        </div>
        <div class="md:row-start-1 md:row-end-3 md:col-start-2 self-end mt-6 lg:mt-20 ">
          <div class="bg-white rounded-t px-2 shadow-lg w-min">
            <div class="ml-3 py-3 flex">
              <div class="bg-mac-red w-3 h-3 rounded-full mr-2"></div>
              <div class="bg-mac-yellow w-3 h-3 rounded-full mr-2"></div>
              <div class="bg-mac-green w-3 h-3 rounded-full"></div>
            </div>
            <div class="rounded-t overflow-hidden w-max">
              <img class="hidden sm:block" loading="lazy" src="{% static './static/img/marlowe-play.png' %}" alt="Marlowe play screenshot">
              <img class="sm:hidden" loading="lazy" src="{% static './static/img/marlowe-play-small.png' %}" alt="Marlowe play screenshot">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-green h-banner-section-sm md:h-banner-section w-full overflow-hidden">
      {# For displaying this banner we use a background image in the second element if its small or a
      2 element grid if it's big. I tried to put them both as grid or as background image but I couldn't
      make it work that way. #}
      <div class="grid grid-cols-1 md:grid-cols-2 widest:mx-auto max-w-screen h-full">
        <div class="bg-market-banner md:bg-none bg-no-repeat bg-cover bg-pos-market-banner-mobile flex flex-col i items-start pl-4 md:pl-0 md:items-center pt-8 md:pt-0 md:justify-center">
          <img loading="lazy" class="h-play-img-sm md:h-play-img-md" src="{% static './static/img/marlowe-market-coming-soon.svg' %}" alt="Marlowe play Update coming 2021 on the third or fourth quarter">
        </div>
        <div class="hidden md:block w-max">
          <img loading="lazy" src="{% static './static/img/marlowe-market-banner-background-desktop.png' %}" alt="Woman using marlowe market on her cellphone">
        </div>

      </div>
    </section>
    <section class="pt-6 pb-20 lg:py-20 grid grid-cols-1 md:grid-cols-2 md:auto-rows-fr md:gap-x-6 lg:gap-x-5vw xl:gap-x-10vw mx-6 lg:mx-5vw xl:mx-10vw max-w-screen widest:mx-auto">
      <div>
        <h4 class="text-lightpurple text-xl font-semibold mb-6">The core of Marlowe is our special-purpose language.</h4>
        <h3 class="text-2xl font-comfortaa-bold leading-tight mb-6">Marlowe is a new language for modeling financial contracts as smart contracts on a blockchain.</h3>
        <p class="text-lg mb-6">Access the benefits of the Cardano blockchain to create financial contracts that are secure, automated, and easy to manage.</p>
        <a href="" target="_blank" class="primary-button mb-6">Learn more</a>
      </div>
      <div class="md:flex gap-4">
        <div class="py-6">
          <h4 class="font-bold">Designed for finance</h4>
          <p>Marlowe contracts are written in the language of finance.</p>

        </div>
        <div class="py-6">
          <h4 class="font-bold">Safe and Easy to Use</h4>
          <p>Secure by design. Built for anyone to easily understand and safely use.</p>
        </div>
      </div>
      <div class="md:row-start-1 md:row-end-3">
        <div class="bg-white rounded px-2 pb-2 shadow-lg">
          <div class="ml-3 py-3 flex">
            <div class="bg-mac-red w-3 h-3 rounded-full mr-2"></div>
            <div class="bg-mac-yellow w-3 h-3 rounded-full mr-2"></div>
            <div class="bg-mac-green w-3 h-3 rounded-full"></div>
          </div>
          <div class="rounded overflow-hidden">
            <img loading="lazy" class="w-full" src="{% static './static/img/marlowe-code.svg' %}" alt="Marlowe contract example">
          </div>
        </div>
      </div>

    </section>
    <section class="pb-10 mx-6 md:mx-5vw xl:mx-10vw max-w-screen widest:mx-auto">
      {# The current faqContent was taken from:
         https://docs.google.com/document/d/1Ydm7k6UhTFr-Oj5wY7V3JLC6vUA3-S_PRUzl6D7Ziec/edit#
         I did not include questions in red or the Q suggestions.
         Last update (on google doc) Apr 27 7:20 AM
         #}
      <h3 class="text-2xl font-comfortaa-bold  mb-6 md:text-center">Marlowe FAQ’s</h3>
      {% macro faqComponent(index, question, answer) %}
        <div class="faq border-t border-darkgray pt-5 mt-5">
          <h4 class="text-lightpurple text-xl font-semibold flex cursor-pointer">
            <span class="flex-grow">
              {{index}}.
              {{ question }}
            </span>
            <span class="flex-shrink-0 w-6 faq-caret"></span>
          </h4>

          <p class="text-lg faq-answer">{{ answer | safe}}</p>
        </div>
      {% endmacro %}
      {% for item in faqContent %}
        {{faqComponent(loop.index, item.question, item.answer)}}
      {% endfor %}
      <div id="faq"></div>
    </section>
    <section class="bg-lightpurple h-banner-section-sm md:h-banner-section">
      {# For displaying this banner we use a background image in the second element if its small or a
      2 element grid if it's big. I tried to put them both as grid or as background image but I couldn't
      make it work that way. #}
      <div class="grid grid-cols-1 md:grid-cols-2 widest:mx-auto max-w-screen h-full">
        <div class="hidden md:block w-max justify-self-end">
          <img loading="lazy" class="" src="{% static './static/img/marlowe-play-banner-background-desktop.png' %}" alt="Man using notebook">
        </div>
        <div class="bg-play-banner md:bg-none bg-no-repeat bg-cover bg-pos-play-banner-mobile flex flex-col i items-end pr-4 md:pr-0 md:items-center pt-16 md:pt-0 md:justify-center">
          <img loading="lazy" class="h-play-img-sm md:h-play-img-md" src="{% static './static/img/marlowe-play-coming-soon.svg' %}" alt="Marlowe play Update coming 2021 on the third or fourth quarter">
        </div>
      </div>
    </section>
    {# FIXME should we remove this section? #}
    <section class="bg-green py-20">
      <div class="mx-6 md:mx-5vw xl:mx-10vw widest:mx-auto max-w-screen">
        <h3 class="text-2xl font-comfortaa-bold leading-tight mb-6">Sign up to the testing program</h3>
        {# FIXME this button does nothing #}
        <button class="primary-button">Help make Marlowe better</button>
      </div>
    </section>
    <footer class="py-10 mx-6 md:mx-5vw xl:mx-10vw widest:mx-auto max-w-screen flex flex-col md:flex-row md:items-center">
      <div class="self-center md:mr-6">
        <img class="h-10" src="{% static './static/img/marlowe-prototype-logo.svg' %}" alt="Marlowe prototype logo">
      </div>
      <div class="flex flex-col md:flex-row mt-6 md:mt-0">
        {# FIXME add links #}
        <a href="" class="text-lightpurple font-semibold mr-6">Privacy</a>
        <a href="" class="text-lightpurple font-semibold">Terms
        </a>
      </div>
      <div class="flex-grow  flex flex-col md:flex-row md:justify-end mt-6 md:mt-0">
        <a href="https://cardano.org/" class="text-lightpurple font-semibold mr-6">cardano.org</a>
        <a href="https://iohk.io/" class="text-lightpurple font-semibold">iohk.io</a>
      </div>
    </footer>
  </body>

</html>
