{% macro youtubeVideo(youtubeId) %}
  <div class="video-container relative w-100 pb-16/9 bg-black ">
    <iframe class="absolute top-0 left-0 right-0 border-0 h-full w-full hidden" data-src="https://www.youtube.com/embed/{{youtubeId}}?modestbranding=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
    <p class="absolute inset-0 flex flex-col justify-center text-white">We've embedded content from YouTube. As YouTube may collect personal data and track your viewing behaviour, we'll only load the video after you consent to their use of cookies and similar technologies as described in their
      <a class="text-blue" href="https://www.youtube.com/t/privacy">privacy policy.</a>
    </p>
  </div>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script>
      window.segmentAnalyticsId = "{{ segmentAnalyticsId }}"
      window.googleAnalyticsId = "{{googleAnalyticsId}}"
    </script>
    <title>Marlowe: Financial smart contracts on Cardano blockchain</title>
    <meta name="description" content="Marlowe: create, test and run financial agreements. Peer-to-peer, secure and scalable DeFi solution. Marlowe makes finance accessible to all.">
    <meta property="og:title" content="Marlowe: Financial smart contracts on Cardano blockchain">
    <meta property="og:description" content="Marlowe: create, test and run financial agreements. Peer-to-peer, secure and scalable DeFi solution. Marlowe makes finance accessible to all.">
    <meta property="og:image" content="{% static './static/img/social.png' %}">
    <meta property="og:url" content="https://marlowe-finance.io">
    <meta name="twitter:card" content="summary_large_image">
  </head>

  <body>

    <span id="top"></span>
    <a id="back-to-top" class="hide" href="#top">
      <img loading="lazy" class="back-to-top-icon" src="{% static './static/img/back-to-top.svg' %}" alt="Back to top">
    </a>
    <header class="fixed top-0 left-0 right-0 z-20 shadow-sm bg-white">
      <div class="m-3 md:my-5 md:mx-5vw flex justify-center">
        <div class="max-w-screen-widest w-full flex items-center">
          <a href="#top" class="scale">
            <img loading="lazy" class="md:w-36 w-32 block lg:mr-16 md:mr-12 md:ml-0 ml-2" src="{% static './static/img/marlowe-logo-light.svg' %}" alt="Marlowe Logo">
          </a>
          <button id="menu-drawer" class="float-right absolute right-5">
            <img loading="lazy" class="w-9 md:hidden block" src="{% static './static/img/mobile-menu-purple.svg' %}" alt="Menu icon">
          </button>
          <ul class="hidden md:block text-base font-bold">
            <li class="inline mr-7 menu-item">
              <a href="#run">Marlowe Run</a>
            </li>
            <li class="inline mr-7 menu-item">
              <a href="#build">For Engineers</a>
            </li>
            <li class="inline mr-7 menu-item">
              <a href="#faq">FAQs</a>
            </li>
            <li class="inline mr-7 menu-item">
              <a href="#feedback">Feedback</a>
            </li>
            <li class="relative inline mr-7 menu-item new-tab">
              <a href="https://docs.cardano.org/marlowe/learn-about-marlowe">Docs</a>
            </li>
          </ul>
        </div>

        {# Mobile menu #}
        <div id="mobile-menu" class="hidden">
          <div class="overflow-hidden h-full fixed inset-0 bg-black z-50 text-white flex flex-col px-7">
            <div class="flex justify-between items-center mt-7 mb-10">
              <img loading="lazy" class="h-10 lg:mr-16 md:mr-12 " src="{% static './static/img/marlowe-logo-dark.svg' %}" alt="Marlowe Logo">
              <img id="mobile-menu-close" loading="lazy" class="h-6" src="{% static './static/img/icons-dark-close.svg' %}" alt="Marlowe Logo">
            </div>
            <ul class="flex-grow text-base font-semibold">
              <li class="my-7">
                <a href="#run">Marlowe Run</a>
              </li>
              <li class="my-7">
                <a href="#build">For Engineers</a>
              </li>
              <li class="my-7">
                <a href="#faq">FAQs</a>
              </li>
              <li class="my-7">
                <a href="#feedback">Feedback</a>
              </li>
              <li class="my-7">
                <a href="https://docs.cardano.org/marlowe/learn-about-marlowe">Docs</a>
              </li>
            </ul>
            <ul class="text-base font-bold">
              <li class=" my-7">
                <a href="https://static.iohk.io/gdpr/IOHK-Data-Protection-GDPR-Policy.pdf">Privacy</a>
              </li>
              <li class="my-7">
                <a href="https://plutus-static.s3.eu-central-1.amazonaws.com/IOHK+Website+Terms+%26+Conditions+(Final).pdf">Terms</a>
              </li>
              <li class="my-7">
                <a href="https://iohk.io/">iohk.io</a>
              </li>
              <li class="my-7">
                <a href="https://cardano.org/">cardano.org</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    {# main section #}
    <section class="relative block bg-gradient-to-r from-purple to-lightpurple text-white h-auto w-full text-center lg:pt-44 md:pt-40 md:pb-20 pt-32 pb-14">
      <div class="mx-3 md:mx-5vw flex justify-center">
        <div class="w-full max-w-screen-widest">
          <img loading="lazy" class="mx-auto lg:pb-0 md:pb-8 pb-8 lg:h-logo-wider h-logo" src="{% static './static/img/marlowe-logo-dark.svg' %}" alt="Marlowe logo">
          <h1 class="md:font-comfortaa-bolder text-2xl md:text-4xl xl:text-5xl flex flex-col font-comfortaa-bold leading-tight lg:pt-8 pb-4">Peer to peer financial agreements</h1>
          <h2 class="text-lg md:text-2xl xl:text-3xl pb-8">Try our demo products built around Marlowe, the language made for finance.</h2>
        </div>
      </div>
      <div class="mx-3 md:mx-5vw flex justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 md:mt-12 mt-8 w-full max-w-screen-widest">
          <div class="mb-20 md:mb-0">
            <h3 class="text-27px font-semibold pb-4 md:hidden block mt-12">Run Marlowe contracts</h3>
            <img loading="lazy" class="lg:w-2/3 w-full mx-auto" src="{% static './static/img/marlowe-run-image.png' %}" alt="Picture of a running smart contract in Marlowe Run">
            <h3 class="text-27px font-semibold pb-4 md:block hidden">Run Marlowe contracts</h3>
            <p class="text-lg font-semibold">Run our first collection of smart contract templates with the Marlowe Run app.</p>
          </div>
          <div>
            <h3 class="text-27px font-semibold pb-4 md:hidden block">Build Marlowe contracts</h3>
            <img loading="lazy" class="lg:w-2/3 w-full mx-auto" src="{% static './static/img/marlowe-build-image.png' %}" alt="Picture of Marlowe code with Blockly blocks floating around it">
            <h3 class="text-27px font-semibold pb-4 md:block hidden">Build Marlowe contracts</h3>
            <p class="text-lg font-semibold">Write, build and simulate financial smart contracts with the Marlowe Build sandbox.</p>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:mt-20 mt-5 md:w-5/6 mx-auto w-11/12">
        <a href="#run" class="scale">
          <h3 class="text-xl md:text-27px pb-2 mx-auto">Discover more</h3>
          <img loading="lazy" class="w-12 mx-auto pb-0" src="{% static './static/img/chevron-down-dark.svg' %}" alt="Scroll down to discover more">
        </a>
      </div>
      <img loading="lazy" style="margin-top:90px;" class="section-circle-top-right hidden lg:block" src="{% static './static/img/circle-top-right.svg' %}" alt="Circle">
      <img loading="lazy" class="section-circle-bottom-left hidden lg:block" src="{% static './static/img/circle-bottom-left.svg' %}" alt="Circle">
      <span id="run"></span>
    </section>

    {# run demo #}
    <section class="relative bg-grayblue md:pt-24 md:pb-20 pt-16 pb-20 text-center">
      <div class="mx-3 md:mx-5vw flex justify-center">
        <div class="w-full max-w-screen-widest">
          <div>
            <img loading="lazy" class="mx-auto lg:pb-0 md:pb-8 pb-8 h-logo lg:h-logo-wider" src="{% static './static/img/marlowe-run-demo-logo-light.svg' %}" alt="Marlowe Run Demo Logo">
            <h2 class="md:text-3xl lg:text-4xl flex flex-col md:font-comfortaa-bolder font-comfortaa-bold leading-tight lg:pt-8 pb-4 text-27px">Financial smart contracts made easy</h2>
            <h3 class="text-xl lg:text-2xl xl:text-27px pb-8">Interact with running smart contracts on the web.</h3>
            <h4 class="text-lg lg:text-xl xl:text-2xl pb-8">Try our first smart contract templates now (many more to come!).</h4>
          </div>
        </div>
      </div>
      <div class="mx-3 md:mx-5vw max-w-screen-widest widest:mx-auto">
        {# contract carousel #}
        <div id="contract-carousel" class="flex flex-col items-center">
          <div id="carousel-selectors" class="mb-4 flex w-full max-w-2xl">
            <span class="active cursor-pointer border-b flex-1 mr-2">Loan</span>
            <span class="cursor-pointer border-b flex-1">Purchase</span>
            <span class="cursor-pointer border-b flex-1 ml-2">
              <span class="hidden md:inline">Contract for Differences</span>
              <span class="md:hidden">CFD</span>
            </span>
          </div>

          <div id="carousel-items" class="mb-4">
            <div class="active hidden">
              <img loading="lazy" class="" src="{% static './static/img/loan-image.png' %}" alt="Loan contract screenshot">
              <h4 class="text-lg font-medium">Lend, borrow and pay back tokens with an agreed interest rate.</h4>
            </div>
            <div class="hidden">
              <img loading="lazy" class="" src="{% static './static/img/purchase-image.png' %}" alt="Purchase contract screenshot">
              <h4 class="text-lg font-medium">Safe purchases with the help of a mediator.</h4>
            </div>
            <div class="hidden">
              <img loading="lazy" class="" src="{% static './static/img/cfd-image.png' %}" alt="Contract for differences screenshot">
              <h4 class="text-lg font-medium">Bet on value price.</h4>
            </div>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center">
          <div class="mx-3 md:mx-5vw max-w-2xl w-full">
            <h3 class="pt-16 text-xl font-semibold pb-4">See how it works</h3>
            {{ youtubeVideo("PJLtKJJMH0U") }}
          </div>
        </div>
        <div class="mt-16 mx-3 md:mx-5vw flex justify-center">
          <div class="w-full max-w-screen-widest flex justify-center">
            <a href="https://run.marlowe-finance.io" target="_blank" class="primary-button text-lg text-center flex-grow md:flex-grow-0" data-marlowe-component="run">
              Try demo
            </a>
          </div>
        </div>
        <img loading="lazy" class="section-circle-top-right hidden lg:block" src="{% static './static/img/circle-top-right.svg' %}" alt="Circle">
        <img loading="lazy" class="section-circle-bottom-left hidden lg:block" src="{% static './static/img/circle-bottom-left.svg' %}" alt="Circle">
        <span id="build"></span>
      </section>

      {# build demo #}
      <section class="relative block bg-black h-auto w-full md:pt-24 md:pb-20 pt-16 pb-24 text-white">

        <div class="mx-3 md:mx-5vw flex justify-center">

          <div class="text-center text-white lg:mb-12 mb-8 z-10 w-full max-w-screen-widest">

            <div>

              <img loading="lazy" class="mx-auto lg:pb-0 md:pb-8 pb-8 lg:h-logo-wider h-logo" src="{% static './static/img/marlowe-build-demo-logo-dark.svg' %}" alt="Marlowe Build Demo logo">
              <h3 class="md:text-3xl lg:text-4xl flex flex-col lg:font-comfortaa-bolder font-comfortaa-bold leading-tight lg:pt-8 pb-4 text-27px">Playground for financial engineers</h3>
              <h2 class="text-xl lg:text-2xl xl:text-27px pb-0">Build in the language made for finance</h2>
            </div>

          </div>

        </div>

        <div class="mx-3 md:mx-5vw flex justify-center">

          <div class="relative grid grid-cols-1 lg:grid-cols-2 w-full max-w-screen-widest z-10">

            <div class="lg:w-10/12 w-11/12 self-center justify-self-center">

              <h3 class=" text-green lg:text-xl text-lg font-semibold lg:mt-0 md:mt-5 pb-4">No code? No problem.</h3>
              <h4 class="font-comfortaa-bold md:text-3xl text-27px mb-4">Write smart contracts in the visual builder</h4>
              <p class="md:text-xl text-lg md:mb-0 mb-12">With the Blockly visual builder you can develop financial smart contracts whithout writing a single line of code, right in the browser.</p>
              <div class="md:mt-14 mt-8 w-full flex">
                <a href="https://play.marlowe-finance.io" target="_blank" class="primary-button text-lg text-center flex-grow md:flex-grow-0" data-marlowe-component="play">Try it</a>
                <img loading="lazy" class="w-32 relative bottom-6 ml-4 xl:block hidden" src="{% static './static/img/arrow-light.svg' %}" alt="Arrow pointing at the try it button">
              </div>
            </div>
            <div class="lg:row-start-auto row-start-1 w-11/12 mx-auto mt-4 mb-8 md:py-16 py-10 px-5 bg-white shadow-lg h-auto rounded-lg">
              <img loading="lazy" class="lg:w-11/12 md:w-3/4 w-11/12 lg:h-80 md:h-80 h-60 object-cover mx-auto" src="{% static './static/img/blockly.gif' %}" alt="Animated gif of blockly blocks being put together.">
            </div>
          </div>
        </div>

        <div class="flex flex-col items-center justify-center">
          <div class="mx-3 md:mx-5vw max-w-2xl w-full">
            <div class="relative w-full max-w-screen-widest text-center md:pb-10 pb-0 z-10">
              <h3 class="pt-16 text-xl font-semibold pb-4 text-green">See how it works</h3>
              {{ youtubeVideo("w6kQD9Tgt8I") }}
            </div>
          </div>
        </div>

        <div class="mx-3 md:mx-5vw flex justify-center">

          <div class="relative grid grid-cols-1 lg:grid-cols-2 w-full max-w-screen-widest  mt-8 z-10">

            <div class="w-11/12 mx-auto my-10 shadow-lg h-auto rounded-lg" style="background-color:#232d3d;">

              <div class="bg-darkblue w-full h-20 py-5 md:px-8 px-6 rounded-t-lg relative">
                <img loading="lazy" class="w-24 float-left" src="{% static './static/img/marlowe-build-dark.svg' %}" alt="Marlowe build logo">
                <h3 class="text-green text-right text-lg font-bold pt-2">Marlowe</h3>
              </div>

              <img loading="lazy" class="md:w-96 w-72 pl-5 py-5 object-cover" src="{% static './static/img/marlowe-code.gif' %}" alt="Animated gif of Marlowe code being written in a text editor">

            </div>

            <div class="lg:w-10/12 w-11/12 mb-0 md:mt-0 mt-0 md:mb-0 lg:-mx-0 mx-auto lg:justify-self-center self-center">

              <h3 class=" text-green lg:text-xl text-lg font-semibold pb-4">Write in Marlowe, JS or Haskell</h3>
              <h4 class="font-comfortaa-bold md:text-3xl text-27px mb-4">Build your very own smart contract ideas</h4>
              <p class="md:text-xl text-lg lg:mb-14 mb-12">Rapidly build your own smart contracts from scratch or from pre-built templates in the Marlowe Build sandbox.</p>
              <div class="w-full flex">
                <a href="https://play.marlowe-finance.io" target="_blank" class="primary-button text-lg text-center flex-grow md:flex-grow-0" data-marlowe-component="play">Try it</a>
                <img loading="lazy" class="w-32 relative bottom-6 ml-4 xl:block hidden" src="{% static './static/img/arrow-light.svg' %}" alt="Arrow pointing at try it button">
              </div>

            </div>

          </div>

        </div>

        <img loading="lazy" class="section-m-top-right absolute md:block hidden lg:block w-full" src="{% static './static/img/marlowe-background-m.svg' %}" alt="Large marlowe logo in the background">
        <span id="faq"></span>
      </section>

      <section class="relative block bg-white h-auto w-full lg:pt-12 md:pt-20 md:pb-20 pt-16 pb-24">

        <div class="mx-3 md:mx-5vw flex justify-center">

          <div class="relative w-full max-w-screen-widest">
            <h3 class="md:text-2xl flex flex-col font-barlow font-semibold leading-tight lg:pt-8 pb-4 text-xl text-center text-lightpurple">FAQs</h3>
            {% macro faqComponent(index, question, answer) %}
              <div class="faq border-t border-darkgray pt-5 mt-5  mx-auto">

                <h4 class="text-lightpurple text-lg font-semibold flex cursor-pointer">
                  <span class="flex-grow">
                    {{index}}.
                    {{ question }}
                  </span>
                  <span class="flex-shrink-0 w-6 faq-caret"></span>
                </h4>

                <p class="text-lg faq-answer">{{ answer | safe}}</p>
              </div>
            {% endmacro %}
            {% for item in faqContent %}
              {{faqComponent(loop.index, item.question, item.answer)}}
            {% endfor %}
          </div>

        </div>
        <span id="feedback"></span>
      </section>

      <section class="relative block bg-grayblue h-auto w-full lg:py-48 md:pt-34 md:pb-30 pt-20 pb-24 text-center">

        <div class="mx-3 md:mx-5vw flex justify-center">

          <div class="relative w-full max-w-screen-widest">

            <div>
              <h2 class="md:text-3xl lg:text-4xl flex flex-col md:font-comfortaa-bolder font-comfortaa-bold leading-tight lg:pt-8 pb-4 text-27px">Share your feedback</h2>
              <h2 class="text-xl lg:text-2xl xl:text-27px pb-0">Have you tested Marlowe Run or Marlowe Playground prototype? We'd love to hear your thoughts on the experience.</h2>
              <div class="relative mx-3 md:mx-5vw flex justify-center md:mt-18 md:mb-5 mt-12">

                <div class="w-full mx-auto">
                  <button data-tf-popup="ThOPaznC" class="relative primary-button text-lg">
                    <img loading="lazy" class="w-32 absolute -right-36 bottom-6 xl:block hidden" src="{% static './static/img/arrow-light.svg' %}" alt="Arrow pointing at the register now button">
                    Share your feedback
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img loading="lazy" class="pink-m-left pink-m-left w-pinkM hidden xl:block" src=" {% static './static/img/pink-m-left.svg' %} " alt="background image">
        <img loading="lazy" class="pink-m-right w-pinkM hidden xl:block" src="{% static './static/img/pink-m-right.svg' %}" alt="background image">
      </section>

      <footer class="shadow-sm bg-white md:py-5 py-10">

        <div class="mx-3 md:mx-5vw flex justify-center">

          <div class="m-5 w-full max-w-screen-widest">
            <ul class="inline w-full">
              <li class="relative text-base font-bold md:mr-7 mb-6 md:mb-0 block md:inline">
                <a href="https://static.iohk.io/gdpr/IOHK-Data-Protection-GDPR-Policy.pdf">Privacy</a>
              </li>
              <li class="relative text-base font-bold md:mr-7 mb-6 md:mb-0 block md:inline">
                <a href="https://plutus-static.s3.eu-central-1.amazonaws.com/IOHK+Website+Terms+%26+Conditions+(Final).pdf">Terms</a>
              </li>
              <li class="relative text-base font-bold md:mr-7 mb-6 md:mb-0 new-tab block md:inline">
                <a href="https://iohk.io/">iohk.io</a>
              </li>
              <li class="relative text-base font-bold md:mr-7 md:mb-0 new-tab block md:inline">
                <a href="https://cardano.org/">cardano.org</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
      <div id="gdpr-banner" class="fixed hidden z-10 bottom-0 left-0 right-0 bg-white shadow-lg py-4 px-3 md:pl-5vw md:pr-10vw ">
        <div class="flex flex-col md:flex-row items-center">
          <p class="flex-grow text-lg pr-4">
            We use cookies to improve the user expierence and analyze website traffic. These are needed for our site to work properly.
          </p>
          <div class="flex-shrink-0 flex flex-col space-y-4">
            <button class="agreeGDPR primary-button">Agree</button>
            <button class="cancelGDPR secondary-button">Reject</button>
          </div>
        </div>
      </div>
    </body>
  </html>
