module Component.$name.Types where

import Halogen as H
import Halogen.HTML as HH

data Query a

type Input
  = {
    }

data Msg

type Slot slot
  = H.Slot Query Msg slot

type Component m
  = H.Component HH.HTML Query Input Msg m
