auth:
  # Your github OAuth App Credentials.
  github-client-id: ""
  github-client-secret: ""

  # You can generate a good signature by running `openssl rand -hex 40` and pasting the result here:
  jwt-signature: ""

  # This should match the client-facing schema/host/port.
  frontend-url: https://localhost:8009
  # This is the path the API will call once authenticated
  github-cb-path: "/#/gh-oauth-cb"
marlowe:
  # The API Gateway url to trigger the marlowe symbolic lambda
  symbolic-url: "https://some-aws-api-gateway-url"
  api-key: "the_aws_api_gateway_key"
  callback-url: "https://david.marlowe.iohkdev.io/machine-a/api"
