*.hi
*.o
*~
*.comb
bin/*
tests/*.tmp
tests/*.out
old/*
tmp/*
a.out
*.prof
dist-newstyle/
dist/
.mhsi
Interactive.hs
.mhscache
*.js
*.wasm
/tags
.hpc/*
*.pkg
targets.conf
*.bak
timing
mdist/*
dist-mcabal/
generated/mhs-stage*.c

