[submodule "cpphssrc/malcolm-wallace-universe"]
	path = cpphssrc/malcolm-wallace-universe
	url = https://github.com/hackage-trustees/malcolm-wallace-universe
[submodule "MicroCabal"]
	path = MicroCabal
	url = https://github.com/augustss/MicroCabal
