@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Round");

.material-icons-round {
  font-weight: inherit; /* override the default of normal that ships with google's css */
  user-select: none; /* disable icons from being selected with the mouse */
}

.with-icon::after {
  font-family: "Material Icons Round";
  font-size: 24px;
  line-height: 1;
  white-space: nowrap;
  float: right;
  margin: -5px -5px -5px 5px;
}

.with-icon-add::after {
  content: "add";
}

.with-icon-add-box::after {
  content: "add_box";
}

.with-icon-add-circle::after {
  content: "add_circle_outline";
}

.with-icon-arrow-right::after {
  content: "east";
}

.with-icon-close::after {
  content: "close";
}

.with-icon-contacts::after {
  content: "people";
}

.with-icon-contract::after {
  content: "history_edu";
}

.with-icon-help::after {
  content: "help";
}

.with-icon-history::after {
  content: "history";
}

.with-icon-home::after {
  content: "home";
}

.with-icon-menu::after {
  content: "short_text";
}

.with-icon-next::after {
  content: "chevron_right";
}

.with-icon-new-contact::after {
  content: "person_add_alt";
}

.with-icon-pay::after {
  content: "credit_score";
}

.with-icon-play::after {
  content: "play";
}

.with-icon-previous::after {
  content: "chevron_left";
}

.with-icon-refresh::after {
  content: "refresh";
}

.with-icon-roles::after {
  content: "person_pin_circle";
}

.with-icon-running::after {
  content: "directions_run";
}

.with-icon-terms::after {
  content: "alarm_add";
}

.with-icon-timer::after {
  content: "timer";
}

.with-icon-tutorials::after {
  content: "school";
}
