/* Adapted from https://codepen.io/zapdev/pen/MYJRaj */
.progress.progress-circular svg {
  height: 100%;
  width: 100%;
}

.progress.progress-circular.progress-indeterminate svg {
  animation: progress-circular-rotate 1.8s linear infinite;
}

.progress.progress-circular circle {
  stroke: currentColor;
  fill: none;
  transition: stroke-dashoffset 0.5s ease-in-out;
  stroke-dasharray: 113,113;
}

.progress.progress-circular.progress-0 circle {
  stroke-dashoffset: -113;
}

.progress.progress-circular.progress-10 circle {
  stroke-dashoffset: -124.3;
}

.progress.progress-circular.progress-20 circle {
  stroke-dashoffset: -135.6;
}

.progress.progress-circular.progress-30 circle {
  stroke-dashoffset: -146.9;
}

.progress.progress-circular.progress-40 circle {
  stroke-dashoffset: -158.2;
}

.progress.progress-circular.progress-50 circle {
  stroke-dashoffset: -169.5;
}

.progress.progress-circular.progress-60 circle {
  stroke-dashoffset: -180.8;
}

.progress.progress-circular.progress-70 circle {
  stroke-dashoffset: -192.1;
}

.progress.progress-circular.progress-80 circle {
  stroke-dashoffset: -203.4;
}

.progress.progress-circular.progress-90 circle {
  stroke-dashoffset: -214.7;
}

.progress.progress-circular.progress-100 circle {
  stroke-dashoffset: -226;
}

.progress.progress-circular.progress-indeterminate circle {
  animation: progress-circular-dash 1.2s ease-in-out infinite 0s;
  transform-origin: 50% 50%;
}

@keyframes progress-circular-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes progress-circular-dash {
  0% {
    stroke-dasharray: 7,106;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 83,40;
    stroke-dashoffset: -28;
  }
  100% {
    stroke-dasharray: 7,106;
    stroke-dashoffset: -106;
    transform: rotate(22deg);
  }
}
