name: Benchmarking
on:
  issue_comment:
    types: [created]

jobs:
  benchmark:
    runs-on: ubuntu-latest
    env:
      BUILDKITE_API_ACCESS_TOKEN: ${{ secrets.BUILDKITE_API_ACCESS_TOKEN }}
    steps:
       #
       # Checkout the repository so that we can use scripts from it
       #
      - name: Checkout
        uses: actions/checkout@v2 

       #
       # Check for '/benchmark' comments on a PR
       #
      - uses: khan/pull-request-comment-trigger@master
        id: find-comment
        with:
          trigger: '/benchmark'
          reaction: rocket
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'

      #
      # Extract the branch of that the PR the comment was added to belongs to
      #
      - uses: xt0rted/pull-request-comment-branch@v1
        if: steps.find-comment.outputs.triggered == 'true'
        id: extract-branch
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}

      #
      # Extract the benchmark name from the comment text
      #
      - uses: actions-ecosystem/action-regex-match@v2
        if: steps.find-comment.outputs.triggered == 'true'
        id: extract-benchmark
        with:
          text: ${{ steps.find-comment.outputs.comment_body }}
          regex: '^\/benchmark\s*(.*?)\s*$'

      - run: |
          echo "${{ steps.find-comment.outputs.comment_body }}"
          echo "${{ steps.extract-benchmark.outputs.match }}"
        if: steps.find-comment.outputs.triggered == 'true'

      #
      # Trigger the buildkite pipeline IF the 'benchmark' command was found
      #
      - run: |
         ./scripts/trigger-buildkite-pipeline.sh ${{ steps.extract-branch.outputs.head_ref }} ${{ github.event.issue.number }} ${{ steps.extract-benchmark.outputs.group1 }}
        if: steps.find-comment.outputs.triggered == 'true' && steps.extract-benchmark.outputs.match != ''
