name: Benchmarking
on:
  issue_comment:
    types: [created]
jobs:
  bench:
    runs-on: ubuntu-latest
    steps:
      - name: Check for Command
        id: command
        uses: xt0rted/slash-command-action@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          command: benchmark
          reaction: "true"
          reaction-type: "eyes"
          allow-edits: "false"
          permission-level: write
      - name: Act on the command
        run: echo "The command was '${{ steps.command.outputs.command-name }}' with arguments '${{ steps.command.outputs.command-arguments }}'"
